html{
/*
	font-family: 'Noto Sans', sans-serif;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
*/
}


/*GLOBAL FRAMEWORK V1.9 - AUTHORIZED PERSONNEL ONLY - EYES ONLY - W3C VALID*/
* {margin: 0px; padding: 0px; border: 0px none; outline: 0px;}
BODY {font: 100% 'Open Sans', Helvetica, Arial, sans-serif; color: #333; background: #fff; height:100%; min-height:100%;}
P, TD, TH, DIV, SPAN, LI, BLOCKQUOTE {margin:0; padding:0;}
H1, H2, H3, H4, H5, H6 {font-weight: normal; font-size: 100%; display: block}
ARTICLE, ASIDE, AUDIO, CANVAS, FIGURE, FIGCAPTION, FOOTER, HEADER, NAV ,SECTION {display: block}
TABLE {border-collapse: collapse; border-spacing: 0;}
TH {text-align: left;}
TD, TH {empty-cells: show}
INPUT, SELECT, TEXTAREA { font: 1em 'Noto Sans', Verdana, Arial, Helvetica, sans-serif; color: #000; background: #FFF; border: 1px solid #CCC; }
INPUT, SELECT { vertical-align: middle}
INPUT[type="radio"], INPUT[type="checkbox"] {border: none; height: auto !important; width: auto !important;}
INPUT[type="submit"], INPUT[type="reset"], INPUT[type="buttom"] {cursor: pointer}
TEXTAREA {overflow:auto;}
UL, OL, LI {list-style: none; margin:0;padding:0;}
a,
a:hover,
a:focus,
a:visited {text-decoration: none; cursor:pointer;outline:0;}
.CleanFloats{clear: both; float: none; height: 0px;}
.Clearfix:after {content:"."; display:block; height:0; clear:both; visibility:hidden;}
*+html .Clearfix {min-height: 1%;} /*IE7*/
* html .Clearfix {height:1%;} /*IE6*/
img{display: block; width:100%;}
button:focus{
	outline:0;
}
html{
	height: 100%;
}
main{
	/* *çoverflow: hidden;*/
}
.hidden{
	display: none;
}
.overflow{
	overflow: hidden;
}
.spanImg img{
	display: block;
	overflow: hidden;
	width: 100%;
}
.container-fluid{
	padding: 0 4.5em;
}
.navbar-toggler-icon i{
	font-size: 20px;
	color: #fff;
}
/*FIN GLOBAL*/

:root{
	--white: #fff;
	--light-gray: #dcdee0;
	--dark-gray: #666;
}

header{
	position: absolute;
	top: 0;
	left:0;
	z-index: 10;
	width: 100%;
}
.internas header{
	position: relative;
	background: #0095ad;
}
.internas .dropdown{
	display: none;
}
.navbar{
	padding: 20px 0 20px;
}
.internas .navbar{
	padding-top: 20px;
	align-items:center;
}
.navbar:after{
	content:'';
	position:absolute;
	bottom: 0;
	left:50%;
	width: 105%;
	height: 1px;
	background:#fff;
	transform: translate(-50%,0);
}
.navbar-nav {
	justify-content:space-between;
	width: 100%;
}
.internas .navbar-brand{
	padding-bottom: 0px;
}
.navbar-nav ul{
	display: flex;
	flex-direction: row;
	align-items:center;
}
.navbar-nav ul li a{
	font-size: 21px;
	color: #fff;
	font-family: 'Noto Sans', sans-serif;
}
.navbar-brand{
	padding: 0;
}
.navbar-nav > li > ul{
	flex-direction:row;
}
.navbar-nav > li > ul > li{
	padding: 0 10px;
}
.navbar-nav > li > ul > li.bandaAComprar{
	padding-left: 60px;
}
.internas .bandaAComprar h2{
	font-size: 32px;
	font-weight: bold;
	color:#fff;
	margin: 0;
}
.internas .bandaAComprar p{
	font-size: 18px;
	color:#fff;
}
.internas .navbar::after{
	display: none;
}
.navbar-expand-lg .navbar-nav #navbarDropdown{
	width: 80px;
}
.navbar-expand-lg .navbar-nav .nav-link img{
	width: auto;
	display:inline-block;
}

.dropdown-menu{
	padding: 0;
	margin:0;
	color:#fff;
	background: #fff3;
	border-radius: 3px;
	min-width: inherit;
	left: inherit;
	right: 0;
	border: 0;
}
.dropdown-item{
	padding: 10px 5px;
}
.dropdown-item i{
	border: 1px solid #fff;
	border-radius: 50%;
	padding:3px;
	width: 35px;
	text-align:center;
	line-height: 27px;
	
}

.eventosArea{
	position: relative;
	z-index: 2;
}
.texto-evento{
	position: absolute;
	bottom:0;
	left: 0;
	padding:  30px 9rem 60px;
}
.texto-evento .fecha{
	color: #9cd1d9;
	font-size:21px;
	font-family: 'Noto Sans', sans-serif;
	
	
}
.texto-evento h1{
	font-size:80px;
	font-weight:900;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	line-height:1.1;
	color: #fff;
}
.texto-evento p{
	font-size: 30px;
	color: #fff;
	text-transform:uppercase;
	margin-bottom: 40px;
}
.texto-evento p span{
	padding-bottom: 10px;
	border-bottom: 2px solid #0095ad;
}

.texto-evento .comprar{
	font-size: 18px;
	font-family: 'Noto Sans', sans-serif;
	padding: 15px 30px;
	border-radius: 40px;
	line-height: 50px;
	background: #0095ad;
	color: #fff;
	text-transform: uppercase;
	border:1px solid #fff;
}


.eventosArea .bx-viewport, 
.eventosArea .bx-wrapper{
    position:relative;
    width:100%;
    height:100% !important;
    top:0;
    left:0;
}
#ninja-slider li{
	background-size:cover;
}
.sliderArea, 
.sliderArea > li{
    min-height: 100vh !important;;
}
.sliderArea li{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.sliderArea li a{
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
}
.bx-wrapper .bx-viewport{
    border: none !important;
    z-index: 5;
}

.bx-controls{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left:0;
	z-index: 10;
	pointer-events:none;
}
.bx-controls-direction{
	position: absolute;
	top:50%;
	transform: translate(0, -50%);
	width: 100%;
	pointer-events:all;
}
.bx-controls-direction a{
	display:block;
	position: absolute;
	background: url(image/arrows.png) no-repeat top left;
	width:22px;
	height: 57px;
	text-indent: -1000em;
	opacity: .5;
	transition: opacity .5s ease;
}
.bx-controls-direction a:hover{
	opacity:1;
}
.bx-controls-direction .bx-prev{
	left:10px;
}
.bx-controls-direction .bx-next{
	right:10px;
	background-position: top right
}

.bx-pager{
	position: absolute;
	left:0;
	width: 100%;
	bottom: 30px;
	display:flex;
	flex-wrap:nowrap;
	justify-content:center;
	pointer-events:all;
}
.bx-pager div{
	border: 2px solid #fff;
	width: 20px;
	height:20px;
	margin: 0 5px;
	border-radius: 50%;
}
.bx-pager div a{
	display: block;
	width: 100%;
	height: 100%;
	text-indent:-1000em;
	border-radius:50%;
	cursor:pointer;
}
.bx-pager div a.active,
.bx-pager div a:hover{
	background: #0095ad;
}
section h2{
	font-size: 45px;
	color:#1b4b53;
	text-transform: uppercase;
	padding-bottom: 20px;
	margin: 0;
}

.eventosDestacados{
	padding: 60px 0 30px;
}
.eventos-principales{
	padding-bottom: 25px;
	position: relative;
}
.eventos-principales:after{
	content: '';
	width: 102%;
	height: 1px;
	background:#9a9a9a;
	position: absolute;
	left:50%;
	bottom: 0;
	transform: translate(-50%,0);
}
.eventos-principales li{
	position: relative;
}
.eventos-principales li:after{
	content:'';
	width: 1px;
	height: 65%;
	background: #9a9a9a;
	top: 50%;
	right:0;
	transform: translate(0, -50%);
	position: absolute;
}
.eventos-principales li:last-child:after{
	display: none;
}

.placa-evento{
	display:flex;
	flex-directon:row;
	margin: 0 -5px;
}
.placa-evento .spanImg{
	width: 33.33%;
	padding: 0 10px;
}
.placa-evento .texto-placa{
	width: 66.66%;
	padding: 0 10px;
}
.texto-placa span{
	color: #1b4b53;
	font-family: 'Noto Sans', sans-serif;
	font-size: 19px;
	border-bottom: 1px solid #1b4b53;
	padding-bottom: 3px;
	text-transform: uppercase;
}
.texto-placa h1{
	color: #0095ad;
	font-size: 32px;
	font-weight: bold;
	margin: 0;
	padding: 5px 0 0;
}
.texto-placa p{
	color: #9a9a9a;
	font-size: 22px;
	text-transform: uppercase;
	padding-bottom: 15px;
}
a .texto-placa b{
	color: #0095ad;
	font-family: 'Noto Sans', sans-serif;
	font-size: 19px;
	text-transform: uppercase;
}
a:hover .texto-placa b{
	border-bottom: 1px solid #0095ad;
}
a .texto-placa b i{
	font-size: 0.75em;
}

.otros-eventos{
	padding: 35px 0;
}
.otros-eventos li{
	padding: 15px;
}
.otro-evento{
	position: relative;
}
a .otro-evento:after{
	content: '';
	width: 100%;
	height: 100%;
	background:#0095ad50;
	top: 0;
	left: 0;
	position:absolute;
	z-index: 7;
	opacity: 0;
	transition: all 1s ease;
}
a:hover .otro-evento:after{
	opacity: 1;
}
.otro-evento .spanImg{
	position: relative;
	z-index:5;
	width: 100%;
	height: 100%;
}
a .otro-evento button{
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	padding: 15px;
	font-size: 20px;
	text-transform:uppercase;
	color:#fff;
	background: #0095ad;
	z-index: 10;
	border-radius: 30px;
	border: 2px solid #fff;
	opacity: 0;
	transition: opacity .5s ease;
}
a:hover .otro-evento button{
	opacity: 1;
}

.proximamenteArea{
	background:#ebf9fb;
	padding: 30px 0;
}
.proximamenteArea h2{
	color:#9a9a9a;
}
.proximos-eventos li{
	width:20%;
	padding: 15px;
}
.proximo-evento .spanImg{
	border:1px solid #9a9a9a;
	display: block;
}
.proximo-evento h1{
	color:#9a9a9a;
	font-size: 22px;
	text-transform: uppercase;
	padding-top: 15px;
}
.proximo-evento b{
	color: #0095ad;
	font-family: 'Noto Sans', sans-serif;
	font-size: 16px;
	text-transform: uppercase;
}
a:hover .proximo-evento b{
	border-bottom: 1px solid #0095ad;
}

.bandaAComprar{
	display: flex;
	align-items:center;
}
.bandaAComprar > div{
	padding-left:60px;
}
.bandaAComprar .proximo-evento{
	padding-left: 40px;
}
.bandaAComprar .proximo-evento ul{
	display: flex;
	flex-direction:row;
	align-items:center;
}
.bandaAComprar .proximo-evento ul li{
	padding-right: 10px;
}
.bandaAComprar .proximo-evento h1{
	color: #fff;
	padding: 0;
	font-size: 16px;
	margin: 0;
}
.bandaAComprar .proximo-evento p{
	font-size: 14px;
}
.bandaAComprar .proximo-evento .cajaFecha > span {
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    line-height: 15px;

}
.bandaAComprar .proximo-evento .cajaFecha > span span {
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;

}
.catalogoArea{
	padding: 60px 0 90px;
}
.catalogoArea h2{
	text-align: center;
	text-transform:inherit;
	color: #9a9a9a;
	padding-bottom: 15px;
	position:relative;
	margin-bottom: 25px;
}
.catalogoArea h2:after{
	content: '';
	width: 20%;
	height: 1px;
	background:#0095ad;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform:translate(-50%,0);
}
.catalogo-eventos li{
	width: 33.3333%;
	padding: 15px;
}
.catalogo-eventos li:nth-child(1),
.catalogo-eventos li:nth-child(2){
	width:50%;
}
.otro-evento{
	position: relative;
}
.otro-evento .spanImg{
	position: relative;
	z-index:5;
}
.otro-evento h1{
	color:#fff;
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	z-index: 10;
	text-transform: uppercase;
	font-size:40px;
}
.catalogo-eventos li:nth-child(1) .otro-evento h1,
.catalogo-eventos li:nth-child(2) .otro-evento h1{
	font-size: 70px;
}

footer{
	border-top:1px solid #1b4b53;
	padding: 60px 0;
}
.footer-content{
	justify-content:space-between;
	align-items:center;
	flow-wrap:nowrap;
}
.footer-content > li{
	width: 25%;
}
footer a{
	font-size: 15px;
	color:#1b4b53;
	text-transform: uppercase;
}

footer .links{
	justify-content:center;
	margin: 0;
}
footer .links a{
	position:relative;
}
footer .links a:hover{
	text-decoration:underline;
}
footer .links a:before{
	content:'·';
	font-size: 1.25em;
	position: absolute;
	top: -3px;
	left:-7px;
}
footer .links li:first-child a:before{
	display:none;
}
footer .links li{
	padding: 0 5px;
}
.footer-content > li.links-content{
	width:50%;
}

.btnProductores {
	font-size: 14px;
	color:#1b4b53;
	border: 1px solid #1b4b53;
	background:#fff;
	border-radius: 30px;
	padding: 15px;
	line-height: 1;
	float: right;
}

/* Compras */
.fechasArea{
	padding: 40px 0;
}
.fechasArea h2{
	padding-bottom: 10px;
}
.fechasArea p{
	color: #9cd1d9;
	font-size: 24px;
	padding-bottom: 35px;
}
.fechasListado{
	margin: 0 -10px;
	display: flex;
	flex-wrap:wrap;
}
.fechasListado li{
	width: 50%;
	padding: 10px;
}
.fechasListado .proximo-evento ul{
	display: flex;
	flex-direction:row;
	margin: 0 -5px;
}
.fechasListado .proximo-evento ul li{
	padding: 0 5px;
	width: calc(100% - 110px);
}
.fechasListado .proximo-evento .cajaFecha{
	width:110px;
}
.fechasListado .proximo-evento .cajaFecha > span{
	border:1px solid #9a9a9a;
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content:center;
	width: 100px;
	height: 100px;
	color: #1b4b53;
	font-size: 40px;
	font-weight: bold;
	line-height: 30px;
}
.fechasListado .proximo-evento .cajaFecha > span span{
	font-size: 18px;
	color:#9cd1d9;
	text-transform: uppercase;
}
.fechasListado .proximo-evento h1{
	padding: 0;
	color: #0095ad;
	font-size:18px;
}
.fechasListado .proximo-evento p{
	font-size:18px;
	color: #1b4b53;
	text-transform: uppercase;
	padding-bottom: 10px;
}
.fechasListado a .proximo-evento b{
	padding: 10px;
	background: #0095ad;
	color:#fff;
	border: 2px solid #fff;
	border-radius: 30px;
	display: inline-block;
}
.fechasListado a.agotado{
	cursor: default;
	pointer-events:none;
}
.fechasListado a.agotado span,
.fechasListado a.agotado h1,
.fechasListado a.agotado p{
	color: #9a9a9a !important;
}
.fechasListado a.agotado .proximo-evento b{
	background:#bc1515;
}

.promocionesArea{
	border-left: 1px solid #9a9a9a;
}
.promocionesArea > div{
	padding: 0 10%;
}
.promocionesArea  h3{
	font-size: 25px;
	text-transform: uppercase;
	color:#1b4b53;
	padding-bottom: 20px;
	margin-bottom: 30px;
	position: relative;
}
.promocionesArea  h3:after{
	content: '';
	width: 20%;
	height: 2px;
	background: #9cd1d9;
	bottom: 0;
	left: 0;
	position: absolute;
}
.promocionesArea .emisorImg{
	padding-bottom: 60px;
}
.metodosPago{
	display: flex;
	flex-wrap:wrap;
}
.metodosPago li{
	width: 20%;
}
.metodosPago li .spanImg{
	width: 100%;
}
.promocionesArea .bx-controls-direction{
	top: 25%;
}
.promocionesArea .bx-controls-direction a{
	background-image: url(image/arrows-gris.png);
}

.promocionesArea .sliderArea, 
.promocionesArea .sliderArea > li{
	min-height:inherit !important;
}

.lugarArea{
	margin-top: 60px;
	border-top:1px solid #9a9a9a;
}
.lugarArea article{
	padding: 35px 0;
}

.lugarArea  h3{
	font-size: 25px;
	color:#1b4b53;
	padding-bottom: 20px;
	margin-bottom: 30px;
	position: relative;
}
.lugarArea  h3:after{
	content: '';
	width: 80px;
	height: 2px;
	background: #9cd1d9;
	bottom: 0;
	left: 0;
	position: absolute;
}
.lugarArea ul{
	display: flex;
	flex-direction: row;
	justify-content:space-between;
}

.preciosEntradas{
	width: 100%;
}
.preciosEntradas .valores{
	width:20%;
}
.preciosEntradas td,
.preciosEntradas th{
	color: #9a9a9a;
	font-size: 15px;
	text-align: center;
}
.preciosEntradas th{
	padding: 10px;
}
.preciosEntradas .texto{
	text-align: left;
}
.preciosEntradas .texto p{
	text-transform: uppercase;
	padding-bottom: 0;
	font-size: 20px;
}
.preciosEntradas .color span{
	width: 20px;
	height: 50px;
	display:block;
	margin: 10px 2px;
}
.preciosEntradas td{
	border-bottom: 1px solid #9a9a9a;
	border-top: 1px solid #9a9a9a;
}
.preciosEntradas td:first-child{
	border-top: none;
}
.preciosEntradas td.color{
	border: none;
}
.plano .spanImg{
	width: 60%;
	margin: 60px auto 0;
	display: block;
}
.redesSocialesArea{
	background: url(../images/redes-sociales.jpg) no-repeat top center;
	background-size: cover;
	display: flex;
	padding: 100px 0 20px;
}
.redesSocialesArea ul{
	display: flex;
	flex-wrap:nowrap;
}
.redesSocialesArea ul li{
	padding: 0 5px;
}
.redesSocialesArea ul li a{
	font-size: 40px;
	color:#fff;
	line-height: 60px;
	width: 60px;
	background:#0095ad;
	display: block;
	text-align: center;
	
}
.redesSocialesArea article{
	float: right;
}

.aboutArea{
	padding: 60px 0;
}
.aboutArea  h3{
	font-size: 25px;
	color:#1b4b53;
	padding-bottom: 20px;
	margin-bottom: 30px;
	position: relative;
	text-transform: uppercase;
}
.aboutArea  h3:after{
	content: '';
	width: 80px;
	height: 2px;
	background: #9cd1d9;
	bottom: 0;
	left: 0;
	position: absolute;
}
.aboutArea p{
	font-size: 18px;
	color:#1b4b53;
	padding-bottom: 25px;
}

.video-responsive {
position: relative;
padding-bottom: 56.25%; /* 16/9 ratio */
padding-top: 30px; /* IE6 workaround*/
height: 0;
overflow: hidden;
}

.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.suscripcionArea{
	padding-top: 45px;
}
.suscripcionArea form{
	border: 1px solid #9a9a9a;
	background:#ebf9fb;
	padding: 10px;
}
.suscripcionArea h4{
	font-size:18px;
	color:#1b4b53;
	text-transform: uppercase;
	padding-bottom: 20px;
	margin-bottom: 20px;
	position: relative;
}
.suscripcionArea  h4:after{
	content: '';
	width: 80px;
	height: 2px;
	background: #1b4b53;
	bottom: 0;
	left: 0;
	position: absolute;
}
.suscripcionArea ul li{
	padding-bottom: 15px;
}
.suscripcionArea p{
	color: #9a9a9a;
	padding-bottom: 20px;
}
.suscripcionArea label{
	color:#9a9a9a;
	font-size: 16px;
}
.suscripcionArea input[type=text]{
	border: 1px solid #9a9a9a;
	width:100%;
	font-size:18px;
	padding: 10px;
}
.suscripcionArea .submitBtn{
	text-align: right;
}
.suscripcionArea button.submit{
	color: #0095ad;
	font-size: 18px;
	border: none;
	background: none;
	font-weight: bold;
	text-align: right;
}

.historiaLugarArea > div{
	padding-top: 45px;
	padding-bottom: 45px;
}
.historiaLugarArea  h3{
	font-size: 25px;
	color:#1b4b53;
	padding-bottom: 20px;
	margin-bottom: 30px;
	position: relative;
	text-transform: uppercase;
}
.historiaLugarArea  h3:after{
	content: '';
	width: 80px;
	height: 2px;
	background: #9cd1d9;
	bottom: 0;
	left: 0;
	position: absolute;
}
.historiaLugarArea p{
	font-size: 18px;
	color:#1b4b53;
	padding-bottom: 25px;
}

.promosArea{
	padding-bottom: 60px;
}
.promosArea  h3{
	font-size: 25px;
	color:#1b4b53;
	padding-bottom: 20px;
	margin-bottom: 30px;
	position: relative;
	text-transform: uppercase;
}
.promosArea  h3:after{
	content: '';
	width: 80px;
	height: 2px;
	background: #9cd1d9;
	bottom: 0;
	left: 0;
	position: absolute;
}


.promosTexto{
	border-left:1px solid #9a9a9a;
}
.promosTexto >  div{
	padding: 10px;
}
.promosTexto .infoPromo{
	border-bottom: 1px solid #9a9a9a;
}

.promosTexto img{
	width: inherit;
}
.promosTexto p{
	font-size: 18px;
	color:#9a9a9a;
	padding-bottom: 40px;
}
.promosTexto .sucursales{
	color:#1b4b53;
	display: block;
	font-size: 14px;
	cursor: pointer;
}
.promosTexto .sucursales:hover{
	text-decoration: underline;
}
.promosTexto h4{
	font-size: 18px;
	color: #1b4b53;
	padding: 20px 0;
}
.promosTexto ul{
	display: flex;
	flex-direction:row;
	padding-bottom: 20px;
}
.promosTexto ul li{
	text-transform: uppercase;
	font-size: 18px;
	color: #e1e1e1;
	background: #9a9a9a;
	border:1px solid #e1e1e1;
	width: 48px;
	line-height: 38px;
	text-align: center;
}
.promosTexto small{
	font-size: 14px;
	color:#1b4b53;
}

.terminosArea{
	padding-top:40px;
	padding-bottom: 40px;
}
.terminosArea h5{
	font-size: 21px;
	color: #1b4b53;
	padding-bottom: 20px;
}
.terminosArea p{
	color: #9a9a9a;
	font-size: 14px;
	padding-bottom: 20px;
}
.otrasPromosArea{
	border-left: 1px solid #9a9a9a;
}
.otrasPromosArea ul li{
	padding: 10px 25% ;
}
nav .mobile,
nav .tablet{
	display: none;
}

/*--breakpoint-xs:0;--breakpoint-sm:576px;--breakpoint-md:768px;--breakpoint-lg:992px;--breakpoint-xl:1200px*/

@media (max-width: 575px) {
	.btnProductores{
		font-size: 14px;
	}
	
	
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 768px) {

	
}
/* Small devices (landscape phones, 767px and down)*/
@media (max-width: 767px) {
	.dropdown-menu{
		background: none;
	}
	.dropdown-item{
		padding: 0 10px;
	}
	.navbar-brand  .spanImg img{
		width:auto;
		height:35px;
	}
	.navbar-nav .nav-link,
	.search-link{
		display:none;
	}
	.navbar{
		padding:20px 0;
	}
	nav .pc{
		display: none;
	}
	nav .mobile{
		display: block;
	}
	.navbar-toggler{
		margin-left: auto;
	}
	nav > ul{
		margin-left: 20px;
	}
	.dropdown-menu.show{
		width: 200px;
	}

	.container-fluid{
		padding: 0 10px;
		overflow: hidden;
	}
	header .container-fluid{
		overflow: visible;
	}
	.bandaAComprar{
		padding-top: 20px;
		flex-direction:column;
	}
	.bandaAComprar > div{
		width: 100%;
		padding-left:0;
	}
	.bandaAComprar .proximo-evento{
		padding: 10px 0 0;
	}
	.navbar-collapse{
		background:#ebf9fb;
		margin-top: 10px;
	}
	.navbar-nav ul li a{
		color: #0095ad;
	}
	.navbar-nav > li{
		border-top: 1px solid #0095ad;
	}
	.navbar-nav > li > ul > li{
		padding: 5px 0;
		border-top: 1px solid #0095ad;
		width: 100%;
		text-align: center;
	}
	.navbar-nav > li > ul > li:first-child{
		border: none;
	}
	.navbar-nav ul li .redes-sociales{
		display: flex;
		flex-direction:row;
		justify-content:center;
	}
	.navbar-nav ul li .redes-sociales a{
		width:auto;
	}
	.texto-evento{
		padding: 30px 10px;
		bottom: 40px;
	}
	.texto-evento .fecha{
		font-size: 16px;
	}
	.texto-evento h1{
		font-size: 38px;
	}
	.texto-evento p{
		font-size: 24px;
	}
	.texto-evento a{
		padding: 10px 15px; 
	}
	section h2{
		font-size: 27px;
	}
	.texto-placa h1{
		font-size: 26px;
	}
	.texto-placa p{
		font-size:18px;
	}
	.eventos-principales li{
		padding-bottom: 10px;
		padding-top: 10px;
		border-top:1px solid #0095ad;
	}
	.eventos-principales li:after{
		display: none;
	}
	
	.eventos-principales li:first-child{
		border: none;
	}
	.otros-eventos{
		margin: 0 -10px;
	}
	.otros-eventos li{
		padding: 10px;
		width: 50%;
	}
	.proximos-eventos li{
		width:50%;
	}
	.proximo-evento h1{
		font-size: 18px;
	}
	.catalogo-eventos li{
		width: 100% !important;
	}
	.otro-evento h1{
		font-size: 40px !important;
	}
	
	.footer-content{
		justify-content:center;
	}
	.footer-content > li{
		padding-bottom: 20px;
		width: 90%;
		text-align: center;
	}
	footer .links{
		margin: 0;
	}
	.btnProductores{
		float: none;
	}
	
	.fechasListado > li{
		width: 100%;
		border-top:1px solid #0095ad;
	}
	.fechasListado > li:first-child{
		border: none;
	}
	.promocionesArea{
		padding-top: 40px;
	}
	
	.preciosEntradas .texto p{
		font-size: 18px;
	}
	.plano{
		padding-top: 20px;
	}
	.aboutArea aside{
		padding-top:40px;
	}
	.navbar-nav > li > ul{
		flex-direction:column;
	}
	.plano .spanImg{
		width:95%;
	}
	.footer-content > li.links-content{
		width:100%;
	}
	footer .links a{
		font-size: 12px;
		padding:5px 0;
	}
	footer .links a:before{
		top:2px;
	}
}
/* Small devices (landscape phones, 767px and up)*/
@media (max-width: 767px) and (orientation: landscape) {
	.texto-evento h1{
		font-size:24px;
	}
	.texto-evento{
		padding: 0 20px;
	}
	.bx-controls-direction{
		display: none;
	}
	.texto-evento a{
		font-size: 12px;
		padding: 7px 15px;
	}
	.texto-evento p{
		font-size: 18px;
		margin-bottom: 20px;
	}
	
}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px){
	.placa-evento .spanImg{
		width: 100%;
		padding-bottom: 20px;
	}
	.placa-evento{
		flex-direction:column;
		height: 100%;
	}
	.fechasListado > li{
		width: 100%;
		border-top:1px solid #0095ad;
	}
	.fechasListado > li:first-child{
		border: none;
	}
	.lugarArea ul{
		flex-direction:column;
	}
	.lugarArea ul li{
		max-width:100%;
	}
	.plano{
		padding-top: 20px;
	}
	.historiaLugarArea .row{
		flex-direction: column;
	}
	.historiaLugarArea article,
	.historiaLugarArea aside{
		max-width: 100%;
	}
	nav .pc{
		display: none;
	}
	nav .tablet{
		display: block;
		padding-left: 20px;
	}
	.navbar-toggler{
		margin-left: auto;
	}
	.navbar-nav{
		margin-top:20px;
	}
	.placa-evento .texto-placa{
		width: 100%;
		display:flex;
		flex-direction:column;
		justify-content:space-between;
		height: 100%;
	}
	.footer-content > li{
		width:50%;
	}
	.footer-content > li:last-child{
		width: 100%;
		padding-top: 20px;
		text-align:center;
	}
	.btnProductores{
		float:none;
	}
	.internas .navbar{
		flex-wrap:nowrap;
	}
	.otro-evento h1{
		font-size:30px;
	}
	.catalogo-eventos li:nth-child(1) .otro-evento h1, 
	.catalogo-eventos li:nth-child(2) .otro-evento h1{
		font-size:60px;
	}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	
}
